body {
    margin: 0;
    padding: 0; 
    background-color:white;
}
h1 {
    margin: 0;    
    font-family: 'Roboto', sans-serif;
}
h2 {
    margin: 0;    
    font-family: 'Roboto', sans-serif;
}
p {    
    font-family: 'Roboto', sans-serif;
}
.contenedor {
    padding: 0 5em;
}
.header {
    background-color: darkorange;
    padding: 1em 0 1em 0;
    width: 100%;
}
.header .contenedor div{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.header .contenedor div div:first-of-type {
    display: block;
}
.header .contenedor div nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}
.header .contenedor div nav ul li {
    margin: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;   
    font-weight: 700; 
}
.header .contenedor div nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header .contenedor div nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header .contenedor div nav ul li a:hover{
    color: white;
}
@media (max-width: 450px) {    
    .header .contenedor div nav ul {
        display: block;
        text-align: center;
    }
}
.btn {
    background-color: darkorange;
    padding: 8px;
    text-decoration: none;
    color: white;
    border-color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 30px;
}
.btn:hover {
    cursor: pointer;
}

.form-clima input {
    border-radius: 4px;
    border: 1px solid;
}
.btn2 {
    background-color: darkorange;
    color: white;
    margin: 5px;
}

.ciudades {
    background-color: white;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}
.ciudades sup{
    background-color: darkorange;
    padding: 3px;
    border-radius: 10px;
}

@media (max-width: 450px) {    
    .ciudades {
        width: 100%;
        padding: 3px;
    }
    .ciudades figure {
        width: 20px;
    }
    .footer .contenedor div {
        display: block;
        margin: 0 auto;
    }
}
main {
    padding: 20px;
}


.btn::after{
    content: '  »';
    
}

/* Home */
.main-home .img{
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/bodegonfanta-800x654.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.section-home {
    padding: 10px;
    display: flex;
}
.section-home img{
    width: 300px;    
    height: 300px;
}

@media (max-width: 750px) {
    .contenedor {
        padding: 50px;
    }
    .section-home img{        
        width: 150px;    
        height: 150px;
    }
}
@media (max-width: 500px) {    
    .contenedor {
        padding: 10px;
    }
    .section-home img{        
        width: 100px;    
        height: 100px;
    }
    .section-home{        
        display: block;
    }
}

/* Nosotros */
.banner-nosotros{
    width: 50%;
    margin: 20px auto;
    background-color:steelblue;
    padding: 20px;
    border-radius: 10px;
}
.banner-nosotros h1 {
    font-size: 50px;
}
.main-nosotros div {
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-nosotros div section {
    width: 15%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: steelblue;

}
@media (max-width: 1024px) {    
    
    .main-nosotros div section {
        width: 300px;
        margin: 10px;
        padding: 10px;    
    }
    .main-nosotros div {
        flex-wrap: wrap;
    
    }
}
@media (max-width: 500px) {       
    
    .banner-nosotros{
        width: 300px;
        padding: 10px;   
    }
    .banner-nosotros h1 {
        font-size: 30px;
    }
}

/* Servicios */
.main-servicios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.main-servicios section{
    width: 25%;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: steelblue;
    min-width: 200px;
    
}

.main-servicios section p::selection{    
    background-color: rgba(244,214,74,255);
    
}
.main-servicios img{
    width: 200px;
}

/* Contacto */

.form-contacto {    
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}
.form-contacto .col{
    width: 80%;
    margin: 0 auto;
}
.form-contacto label {    
    display: block;
    position: relative;
}
.form-contacto input,
.form-contacto select,
.form-contacto textarea{    
    border-color: steelblue;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.form-contacto .radio label,
.form-contacto .check label {
    display: inline;
}

.form-contacto .radio input,
.form-contacto .check input {
    width: auto;
}
.form-contacto .btn {
    width: 80px;
}
.botones {
    margin: 0 auto;
}
#map { 
    height: 300px; 
}